@charset "utf-8";

*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
/* .car{max-width: 1857px; width: 100%; margin: 0 auto; height: 964px;}
.car .head{height: 80px;background-color: rgba(0,0,0,0.8); position: fixed;width: 100%; left: 0;top: 0; z-index: 10; }
/* .car .head .white{position: relative; width: 50px; height: 20px;} */
/* .car .bg{height: 100vh;}
.car .bg img{width: 100%; height: 100%;object-fit: cover;}
.car .main{width: 100%;}
.car .main .con1{width: 100%; height: 964px; margin-top: 150px; position: relative;background-image: url(./images/bg_section.png); background-repeat: no-repeat;}
.car .main .con1 .content{width: 100%; position: absolute;right: 0; top: 50%; transform: translateY(-50%); width: 1524px;display: flex;justify-content: space-between; text-align: center;}
.car .main .con1 .content .text{opacity: 1; } 
.car .main .con1 .content .text p:first-child{color: #00a870; font-size: 56px; font-weight: bold; line-height: 68px;}
.car .main .con1 .content .text p:last-child{color: #3c536f; font-size: 24px; line-height: 30px; margin-top: 24px;}
.car .main .con1 .content .txt{opacity: 0;} */

.car{max-width: 1857px; width: 100%; margin: 0 auto; height: 964px;}
.car .head{height: 80px;background-color: rgba(0,0,0,0.8); position: fixed;width: 100%; left: 0;top: 0; z-index: 10; }
.car .head .white{position: relative; width: 50px; height: 20px;}
.car .bg{height: 100vh;}
.car .bg img{width: 100%; height: 100%;object-fit: cover;}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-image: url(../images/bg_section.png);
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide .text p:first-child{
  color: #00a870; font-size: 56px; font-weight: bold; line-height: 68px;
}

.swiper-slide .text p:last-child{
  color: #3c536f; font-size: 24px; line-height: 30px; margin-top: 24px;
}

.swiper-slide img {
  display: block;
  width: 1042px;
  height: 700px;
  object-fit: cover;
}